<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.ico">

    <title>{% block title 'Base Client' %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/customer/style.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% endblock stylesheets %}

</head>

<body>

<h1> Base Client </h1>


    {% block content %}
        
        {% for customer in customers %}

        <div>
        <h2> client n° {{ customer.id }}</h2>
            <p>-First Name : {{customer.FirstName }}
                
            </p>

            <p>-Past Name : {{ customer.PastName }} </p>

            <a id="idClient" href="{{ path('detail_custom', {'identifiant': customer.id}) }}"><button>Details</button></a><br/><br/>


    
        </div>


        {% endfor %}


            <a href="{{ path('create_custom') }}"><button id="create">Ajouter un client</button></a>

            <br/><br/><a href="{{ path('customer_contact') }}"><button>Contact</button></a>


    {% endblock %}


</body>
</html>
