{% extends "CustomerBundle::base.html.twig" %}

{% block content %}

<h2> CONTACtS : </h2>


{{ form_start(form) }}
	{{ form_widget(form) }}
{{ form_end(form) }}


{# {{ form(form) }} --> suffirait aussi pour le rendu  #}



<p>
	Résulat : <br/>
	Email : {{ data.email }}<br/>
	Subject : {{ data.subject }}<br/>
	Message : {{ data.message }}<br/>

</p>

{% endblock %}