{% extends "CustomerBundle::base.html.twig" %}

{% block content %}


    <h2>Détail client #{{ customer.id }}</h2>
    <table class="table">
        <tr>
            <th>Prénom</th>
            <td>{{ customer.FirstName }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ customer.PastName }}</td>
        </tr>
        <tr>
            <th>Date de naissance</th>
            <td>{{ customer.birthday|date('y/m/Y') }}</td>
        </tr>
        <tr>
            <th>En cours</th>
            <td>{{ customer.balance|number_format(2, ',') }}</td>
        </tr>
    </table>



    <br/><a href="{{ path('update_custom', {'identifiant': customer.id}) }}"><button>update</button></a>
    <a href="{{ path('delete_custom', {'identifiant': customer.id}) }}"><button>Delete</button></a>
	<a href="{{ path('customer_homepage') }}"><button>retour</button></a>
	



{% endblock %}